@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font for headings */
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

/* Primary colors */
:root {
  --color-navy: #1a2236;
  --color-gold: #BFA14A;
  --color-gray: #181A1B;
}